# Compiled class files
*.class

# Maven build output
target/

# IDE files
.idea/
*.iml
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
target/classes/com/vivance/auth/VivanceAuthApplication.class
target/classes/com/vivance/auth/VivanceAuthApplication.class
